# Angular / Node
node_modules/
dist/
.angular/
.cache/

# Environment files
.env
.env.*
!.env.example

# Capacitor
ios/App/Pods/
ios/App/DerivedData/
android/.gradle/
android/app/build/
android/build/

# macOS
.DS_Store

# Visual Studio / .NET
bin/
obj/
.vs/

# User-specific files
*.user
*.suo

# Logs
*.log
