<ion-header class="app-header">
  <ion-toolbar>
    <div style="display: flex; padding: 0px 20px;">
      <ion-icon color="light" name="wallet-outline" size="large"></ion-icon>
      <ion-title>X-Tracker</ion-title>
    </div>

    @if (!isLoggedIn) {
      <ion-button fill="clear" slot="end" routerLink="/login">
        Login
      </ion-button>
    }
    @if (isLoggedIn) {
      <ion-button fill="clear" slot="end" (click)="logout()">
        Logout
      </ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="dashboard">
    <div class="welcome">
      <h1>{{greeting}}</h1>
      <p>Here's your financial summary.</p>
    </div>

    <div class="balance-card">
      <span class="label">Total Balance</span>

      <h2>
        ₹{{ balance | number:'1.0-0' }}
      </h2>
    </div>

    <div class="summary-grid">

      <div class="summary-card">
        <span class="label">Income</span>

        <strong>
          ₹{{ totalIncome | number:'1.0-0' }}
        </strong>
      </div>

      <div class="summary-card">
        <span class="label">Expenses</span>

        <strong>
          ₹{{ totalExpenses | number:'1.0-0' }}
        </strong>
      </div>

    </div>

    <div class="section-header">
      <h2>Recent Transactions</h2>

      <a routerLink="/tabs/transactions">
        See all
      </a>
    </div>

    <div class="transactions">

      @for (transaction of transactions; track transaction.id) {

        <div class="transaction">

          <div class="transaction-info">
            <strong>{{ transaction.title }}</strong>
            <span>{{ transaction.categoryName }}</span>
          </div>

          <div
            class="transaction-amount"
            [class.income]="transaction.type === 'income'"
          >
            {{ transaction.type === 'income' ? '+' : '-' }}
            ₹{{ transaction.amount | number:'1.0-0' }}
          </div>

        </div>

      }

    </div>

  </div>
</ion-content>
